
/* Site title block */

.title h1 {
    color:rgb(142, 191, 142);
    display: block;
    text-align: center;
    padding: 8px 8px;
}

/* navigation bar */


.nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: blue;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 14px 16px;
    background: blue;
    text-decoration: none;
    color:white;
}

.nav li a:hover {
    background-color: blueviolet;
}

/* main section */

img {
    max-width: 500px;
}

main {
    background-color: black;
    color:aliceblue;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

a {
    color: pink;
}

button {
    border-radius: 10px;
    background-color:blueviolet;
    color: white;
    font-size: 16px;
    /* line-height: 36px; */
    text-decoration: none;
    display:inline-block;
    padding: 15px 16px;
    border:none;
}

/* responsive main text block */

@media screen and (min-width: 800px) {
/* This only applies for screens tablet-sized and larger */
    .textblock {
        width: 75%;
        margin:auto;
        padding: 0 10%;
        display:block;
    }

    .textblock > div {
        text-align: left;
        /* border-style: solid;
        border-color:white; */
    }
}

/* flex container on about page */

.flex-container {
    display:flex;
    flex-direction: row;
    /* flex-wrap:nowrap; */
    /* background-color:white; */
}

.flex-container > div {
    /* background-color: blueviolet; */
    width: 33%;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width: 800px) { 
    .flex-container {
        flex-direction: column;
    }
    .flex-container > div {
        width: auto;
    }
}

img.col {
    max-width: 100%;
}



/* Epistolary format */

.location {
    text-align: right;
}

.signature {
    margin-left: 60px;
}